body{
	background: #f4f4f4;
}
.principal{
	width: 920px
	height: 185px;
}
.noticia{
	background: #e5e5e5;
	width: 280px;
	float: left;
	padding: 10px;
	margin: 5px;

}
.clear{
	clear: both;
}
.fotos{
		float: left;
		width: 280px;
		padding: 5px;
		margin: 10px;

}