@charset "UTF-8";
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul{
    margin: 0px;
    padding: 0px;
    width: 720px;
    list-style: none;
}
li{
    float: left;
    padding: 15px;
    width:70px;
    text-align:cente;
    background: url(imagens/aba-direita.png) no-repeat top right;
    color: white;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid rgb(187, 97, 23);

}
