<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="tudo">
    <header>
        <h1>Marca</h1>
    </header>
    
        <div class="laterale">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Sobre</a></li>
                <li><a href="">Noticias</a></li>
                <li><a href="">Produtos</a></li>
                <li><a href="">Servicos</a></li>
                <li><a href="">Clientes</a></li>
                <li><a href="">Contatos</a></li>
            </ul>
        </div>
        <div class="laterald">
            <h3 style="color: black">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores assumenda excepturi harum reiciendis voluptate.</p>
        </div>
        <div class="Conteudo">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id dolorem soluta deleniti vero. Maxime accusantium ducimus, vel atque sit quae cumque autem unde commodi, provident repellendus quo quidem? Delectus, laudantium.</p>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id dolorem soluta deleniti vero. Maxime accusantium ducimus, vel atque sit quae cumque autem unde commodi, provident repellendus quo quidem? Delectus, laudantium.</p>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id dolorem soluta deleniti vero. Maxime accusantium ducimus, vel atque sit quae cumque autem unde commodi, provident repellendus quo quidem? Delectus, laudantium.</p>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id dolorem soluta deleniti vero. Maxime accusantium ducimus, vel atque sit quae cumque autem unde commodi, provident repellendus quo quidem? Delectus, laudantium.</p>
            <div id="img"><img src="imagem/natureza.jpg" alt=""></div>
        </div>
        
        
        
    
    <div class="rodape">
            <p>rodape</p>
     </div>
</div>
    
</body>
</html>