@charset "UTF-8";
@media (min-width: 10px) and (max-width: 458px) {
    *{
        padding: 0;
        margin: 0;
    }
    #img1{
        width: 60px;
        display: inline-block ;
        margin: 0;
        position: relative;
        right: 45px;
        
    }
    #cabeca>p{
        display: inline;
        position: relative;
        right: 45px;
        bottom: 10px;
    
    }
    ul{
        list-style: none;
        position: relative;
        top: 1px;
        right: 20px;
        padding: 10px;   
    }
    li{
        display: inline;
        padding: 0px;
    }
    #conteudo>p{
        text-align: left;
        font-size: 30px;
        margin-left: 00px;
    }
    #botao{
        height: 30px;
        background-color: #5EC57E;
        width: 150px;
        text-align: center;
        margin-left: 0px;
        border-radius: 10px;
       
    }
    #img3{
        width: 200px;
    }
    #img2{
        text-align: right;
        position: relative;
        bottom: 150px;
        
    }
}
@media (min-width: 481px) and (max-width: 627px){
    *{
        padding: 0;
        margin: 0;
    }
    #img1{
        width: 60px;
        display: inline-block ;
        margin: 0;
        position: relative;
        right: 45px;
        
    }
    #cabeca>p{
        display: inline;
        position: relative;
        right: 45px;
        bottom: 10px;
    
    }
    ul{
        list-style: none;
        position: relative;
        top: 1px;
        right: 20px;
        padding: 10px;   
    }
    li{
        display: inline;
        padding: 0px;
    }
    #conteudo>p{
        text-align: left;
        font-size: 30px;
        margin-left: 10px;
    }
    #botao{
        height: 30px;
        background-color: #5EC57E;
        width: 150px;
        text-align: center;
        margin-left: 10px;
        border-radius: 10px;
       
    }
    #img3{
        width: 200px;
        right: 13px;
    }
    #img2{
        text-align: right;
        position: relative;
        bottom: 150px;
    }
}
@media (min-width: 459px) and (max-width: 480px){
    *{
        padding: 0;
        margin: 0;
    }
    #img1{
        width: 60px;
        display: inline-block ;
        margin: 0;
        position: relative;
        right: 45px;
        
    }
    #cabeca>p{
        display: inline;
        position: relative;
        right: 45px;
        bottom: 10px;
    
    }
    ul{
        list-style: none;
        position: relative;
        top: 1px;
        right: 20px;
        padding: 10px;   
    }
    li{
        display: inline;
        padding: 0px;
    }
    #conteudo>p{
        text-align: left;
        font-size: 30px;
        margin-left: 00px;
    }
    #botao{
        height: 30px;
        background-color: #5EC57E;
        width: 150px;
        text-align: center;
        margin-left: 0px;
        border-radius: 10px;
       
    }
    #img3{
        width: 200px;
    }
    #img2{
        text-align: right;
        position: relative;
        bottom: 150px;
    }
}
@media (min-width: 481px) and (max-width: 627px){
    *{
        padding: 0;
        margin: 0;
    }
    #img1{
        width: 60px;
        display: inline-block ;
        margin: 0;
        position: relative;
        right: 45px;
        
    }
    #cabeca>p{
        display: inline;
        position: relative;
        right: 45px;
        bottom: 10px;
    
    }
    ul{
        list-style: none;
        position: relative;
        top: 1px;
        right: 20px;
        padding: 10px;   
    }
    li{
        display: inline;
        padding: 0px;
    }
    #conteudo>p{
        text-align: left;
        font-size: 30px;
        margin-left: 10px;
    }
    #botao{
        height: 30px;
        background-color: #5EC57E;
        width: 150px;
        text-align: center;
        margin-left: 10px;
        border-radius: 10px;
       
    }
    #img3{
        width: 200px;
    }
    #img2{
        text-align: right;
        position: relative;
        bottom: 150px;
    }
}
@media (min-width: 628px) and (max-width: 850px){
    *{
        padding: 0;
        margin: 0;
    }
    #img1{
        width: 60px;
        display: inline-block ;
        margin: 0;
        position: relative;
        right: 45px;
        
    }
    #cabeca>p{
        display: inline;
        position: relative;
        right: 45px;
        bottom: 10px;
    
    }
    ul{
        list-style: none;
        position: relative;
        top: 1px;
        right: 20px;
        padding: 10px;   
    }
    li{
        display: inline;
        padding: 0px;
    }
    #conteudo>p{
        text-align: left;
        font-size: 40px;
        margin-left: 10px;
    }
    #botao{
        height: 30px;
        background-color: #5EC57E;
        width: 150px;
        text-align: center;
        margin-left: 10px;
        border-radius: 10px;
       
    }
    #img3{
        width: 300px;
    }
    #img2{
        text-align: right;
        position: relative;
        bottom: 200px;
    }
}
@media (min-width: 851px) and (max-width: 1024px){
    *{
        padding: 0;
        margin: 0;
    }
    #img1{
        width: 60px;
        display: inline-block ;
        margin: 0;
        position: relative;
        right: 45px;
        
    }
    #cabeca>p{
        display: inline;
        position: relative;
        right: 45px;
        bottom: 10px;
    
    }
    ul{
        list-style: none;
        text-align: right;
        position: relative;
        right: 88px;
        bottom: 7px;
        
    }
    li{
        display: inline;
        padding: 10px;
    }
    #conteudo>p{
        text-align: left;
        font-size: 55px;
        margin-left: 10px;
        padding: 10px;
    }
    #botao{
        height: 30px;
        background-color: #5EC57E;
        width: 150px;
        text-align: center;
        margin-left: 14px;
        border-radius: 10px;
       
    }
    #img3{
        width: 400px;
    }
    #img2{
        text-align: right;
        position: relative;
        bottom: 300px;
        left: 39px;
    }
}
@media (min-width: 1025px) and (max-width: 1250px){
    *{
        padding: 0;
        margin: 0;
    }
    #img1{
        width: 60px;
        display: inline-block ;
        margin: 0;
        position: relative;
        right: 45px;
        
    }
    #cabeca>p{
        display: inline;
        position: relative;
        right: 45px;
        bottom: 10px;
    
    }
    ul{
        list-style: none;
        text-align: right;
        position: relative;
        right: 88px;
        bottom: 7px;
        
    }
    li{
        display: inline;
        padding: 10px;
    }
    #conteudo>p{
        text-align: left;
        font-size: 67px;
        margin-left: 00px;
        padding: 10px;
    }
    #botao{
        height: 30px;
        background-color: #5EC57E;
        width: 150px;
        text-align: center;
        margin-left: 14px;
        border-radius: 10px;
       
    }
    #img3{
        width: 600px;
    }
    #img2{
        text-align: right;
        position: relative;
        bottom: 400px;
        left: 39px;
    }
}
@media (min-width: 1251x){
    #img2{
        text-align: right;
    position: relative;
    bottom: 400px;
    right: 200px;
    }
    
}