@charset "UTF-8";
@media (min-width: 10px) and (max-width: 458px) {
    #conteudo{
        height: 790px;
        width: 500px;
        margin: auto;
    }
    h1{
        position: relative;
        bottom: 20px;
    }
    #conteudo3{
        margin: 0px;
        position: relative;
        bottom: 100px;
    }
    #conteudo1{
        height: 130px;
        width: 130px;
        text-align: center;
        font-size: 50px;
        color: #3d6b68;
        position: relative;
        left: 30px;
    }
    #conteudo2{
        height:400px;
        width: 400px;
        color: #3d6b68;
        margin: 5px;
        font-size: 17px;
        position: relative;
        top: 150px;
    }
    #img3{
        width: 300px;
    }
}
@media (min-width: 481px) and (max-width: 627px){
    #conteudo{
        height: 990px;
        width: 500px;
        margin: auto;
    }
    #conteudo1{
        height: 130px;
        width: 130px;
        text-align: center;
        font-size: 50px;
        color: #3d6b68;
        position: relative;
        left: 30px;
    }
    #conteudo2{
        height:400px;
        width: 400px;
        color: #3d6b68;
        margin: 5px;
        font-size: 17px;
        position: relative;
        top: 150px;
    }
    #img3{
        width: 100px;
    }
}

@media (min-width: 628px) and (max-width: 720px){
    #conteudo{
        height: 990px;
        width: 500px;
        margin: auto;
    }
    #conteudo1{
        height: 130px;
        width: 130px;
        text-align: center;
        font-size: 60px;
        color: #3d6b68;
        position: relative;
        left: 30px;
    }
    #conteudo2{
        height:400px;
        width: 400px;
        color: #3d6b68;
        margin: 5px;
        font-size: 20px;
        position: relative;
        top: 180px;
    }
    #img3{
        width: 100px;
    }
    
}
@media (min-width: 720px) and (max-width: 850px){
    #conteudo{
        height: 990px;
        width: 500px;
        
    }
    #conteudo1{
        height: 130px;
        width: 130px;
        text-align: center;
        font-size: 60px;
        color: #3d6b68;
        position: relative;
        left: 30px;
    }
    #conteudo2{
        height:400px;
        width: 600px;
        color: #3d6b68;
        margin: 15px;
        font-size: 20px;
        position: relative;
        top: 180px;
        
    }
    #img2{
        bottom: 550px;
        right: 0px;
        left: 550px;
    }
    #img3{
        width: 300px;
    }
    
}
@media (min-width: 851px) and (max-width: 1024px){
    #conteudo1{
        left: 0px;
    }
    #img2{
        width: 400px;
        height: 400px;
        bottom: 930px;
        right: 0px;
        left: 100px;
    }
    #img3{
        width: 400px;
    }
}
@media (min-width: 1025px) and (max-width: 1250px){
    #conteudo1{
        left: 0px;
    }
    #img2{
        width: 400px;
        height: 400px;
        bottom: 980px;
        right: 400px;
        left: 0px;
    }
    #img3{
        width: 500px;
    }
}
@media (min-width: 1251px) and (max-width: 1650px){
   
    #conteudo1{
        left: 0px;
    }
    #img2{
        width: 400px;
        height: 400px;
        bottom: 980px;

        left: -197px;
    }
    #img3{
        width: 550px;
    }

}