@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@600;700&family=Open+Sans:wght@300&family=PT+Serif&family=Playfair+Display:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#ECF8E5 ;
    font-family: 'Open Sans', sans-serif;
    
}
#cabeca{
    width: 100%;
    height: 100px;
    font-weight: bold;
}
#img1{
    width: 80px;
    
}
p{
    color: #2c6662;
    display: inline;
    font-size: 20px
}
#conteudo{
    height: 900px;
    width: 100%;

}
#conteudo1{
    height: 430px;
    width: 530px;
    text-align: center;
    font-size: 80px;
    color: #3d6b68;
    position: relative;
    left: 100px;
}
#conteudo2{
    height: 500px;
    width: 1000px;
    color: #3d6b68;
    margin: 10px;
    font-size: 20px;
}
#img2{
    width: 600px;
    height: 600px;
    float: right;
    position: relative;
    bottom: 900px;
    right: 200px;
}
#img3{
    width: 800px;
}