@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
#cabecaleo{
    background: #2c4c74 url(imagens/fundo.png) bottom repeat-x;
    width: 1000;
    height: 270px;
    margin: auto;

}
#logo{
    margin: 20px;
    
}
#Mapa{
    float: right;
    position: relative;
    bottom: 150px;
    left: 41px;
 
}

#menu>li{
    position: relative;
    display: inline;
    background: #b10333 url(imagens/divisor.png) no-repeat left center;
    padding: 17px;
    margin: -2px;
    text-align: center;
    top: 10px;
    line-height: 2.1em;

}
.primeiro{
    background-image: none;
    background: #850429e3;
}
#menu>li>a{
    text-decoration: none;
    color: white;
}
#menu>li>a:hover{
color: #69001d;
}
#menu{
    
    padding: 10px;
 
}
#conteudo{
    margin: auto;
    width: 730px;
    height: 200px;
}
#principal{
  margin: auto;

}
#meio{
    width: 300px;
    float: right;
    margin: 20px;
}

#direita{
    margin-top: 20px;
    width: 300px;
    float: right;
}
#esquerda{
    width: 190px;
    float: right;
   color: black;
   margin: 20px;
   background: url(imagens/fundo-caixa.png);
   
}
#rodape{
    width: 100%;
    margin: 0 auto;
    color: #fff;
    background: #294c71;
    padding: 20px;
    clear: both;
}
#Entrevistas{
    margin: auto;
    width: 150px;
    background: url(imagens/fundo-caixa.png);

}
h3{
    background: #2c4c74;
    color: white;
    padding: 6px;
    margin: 10px 0px;
}
#nomes{
    background: white;
    padding: 10px;
   
}
#nomes>li{
    padding: 5px;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
#news{
    
    margin: 20px;
    background: white;
    padding: 5px;
    

}
#email{
    width: 130px;
    height: 30px;
}
#cadastrar{
    padding: 5px;
    background: #b10333;
    color: white;
}
#h{
    background: #2c4c74;
    color: white;
    padding: 6px;
    margin-top: 10px;
    margin:20px;

}
h4{
    background:#b6224c ;
    width: 155px;
    color: white;
    padding: 2px;
}

#Destaque{
    background: url(imagens/fundo-caixa.png);
    padding: 10px;
    width: 530px;
    height: 450px;
}
#taxi{
    width: 450px;
    border: 2px solid gray;
}
.branco1{
    background: white;
    padding: 5px;
    width: 500px;
    height: 400px;
}
.branco{
    background: white;
    padding: 5px;
    width: 500px;
    height: 350px;
}
#Mundo{
    padding: 10px;
    margin-top: 20px;
    background: url(imagens/fundo-caixa.png);
    width: 530px;
    height: 400px;
    
}
.tecnologia{
    width: 80px;
    float: left;

}
.links{
    color: #294c71;
    float: right;
    right: 250px;
    position: relative;
}
P{
    padding: 20px;
}
.cinza{
    margin: 10px;
}
.cinza:hover{
background: rgba(201, 182, 182, 0.575);
}
#doutor{
    background:#b6224c ;
    width: 270px;
    color: white;
    padding: 2px
}